.jumbotron {
  padding-top: 70px;
  background-color: #56b1bf;
  color: #ffffff;
  margin-bottom: 0px;
}

.navbar {
  margin-bottom: 0;
  background-color: #56b1bf;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #f4511e !important;
  background-color: #fff !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}

.walkin-blackbar {
  height: 15px;
  background-color: #484848;
}

.walkin-main-bg {
  position: relative;
}

.walkin-main-bg .walkin-main-bg-img {
  width: 100%;
  height: auto;
  opacity: 0.3;
}

.walkin-title {
  text-align: center;
  letter-spacing: 8px;
  padding-top: 50px;
}

.walkin-text-gray {
  color: #495057;
}

.walkin-title>hr {
  width: 500px;
  height: 1px;
  background: #bbb;
  background-image: -webkit-linear-gradient(left, #eee, #777, #eee);
  background-image: -moz-linear-gradient(left, #eee, #777, #eee);
  background-image: -ms-linear-gradient(left, #eee, #777, #eee);
  background-image: -o-linear-gradient(left, #eee, #777, #eee);
}

.walkin-profile-img-container {
  overflow: auto;
  /*margin: auto;*/
  text-align: center;
}

.walkin-profile-img {
  border-radius: 50%;
  width: 100%;
  max-width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.walkin-profile-content {
  width: 800px;
  margin: auto;
}

.walkin-profile-item{
  width: 100%;
  overflow: auto;
  margin-bottom: 20px
}

.walkin-profile-item-left {
  width: 20%;
  float: left;
  text-align: left;
}

.walkin-profile-item-right {
  width: 80%;
  float: left;
}

@media (min-width: 760px) {
  .walkin-col-2 {
    float: left;
    width: 50%;
  }
}
